.tag
  background $color--black
  border-radius spacing(1)
  color $color--white
  display inline-block
  font-size x-small
  font-weight bold
  line-height 1
  text-align center

  &:before
    display block
    content attr(data-label)
    padding spacing(0.125) spacing(0.25)

.tag--tier-1
  background $color--terracotta

.tag--tier-2
  background $color--equator
  color $color--eclipse

.tag--tier-3
  background $color--lemon
  color $color--black

.tag--large
  font-size rem(14)
  padding spacing(0.25) spacing(0.5)

.tag-list
  .tag
    margin spacing(0.25)

.tag-list--cutout
  margin-top -1.25em
  position relative

.tag-list--stacked
  > li
    display block !important // @stylint ignore
