.tag
  background $color--primary
  border-radius $spacing--default
  color $color--white
  display inline-block
  font-size x-small
  font-weight bold
  line-height 1
  text-align center

  &:before
    display block
    content attr(data-label)
    padding ($spacing--quarter / 2) $spacing--quarter

.tag--beta-tester
  background $color--lemon
  color $color--black

.tag-list
  .tag
    margin $spacing--quarter
