.enrollment
  margin-top spacing(-1)
  padding-top spacing(1)
  position relative
  z-index 3

.enrollment__field
  margin spacing(1) 0
  position relative
  z-index 2

.enrollment__clans
  box-shadow 0 spacing(1) spacing(2) rgba($color--black, 0.5), 0 spacing(0.5) spacing(0.5) rgba($color--black, 0.25)
  font-size rem(14)
  margin-top spacing(-1)
  position absolute
  left 0
  right 0
  z-index 1

  > li
    background $color--nightrider
    border-top 1px solid $color--nero

    &:nth-child(even)
      background $color--eclipse

.enrollment__clan
  display block
  padding spacing(0.5) spacing(1) !important // @stylint ignore
  position relative
  text-align left
  width 100%

  &:after
    content 'Enroll'
    color $color--silver
    position absolute
    top spacing(0.5)
    right spacing(1)
    text-transform uppercase

  &[href]:after
    content 'View'

  &:hover
  &:focus
  &:active
    background $color--white-smoke
    color $color--black !important // @stylint ignore

    &[data-id]:after
    .enrollment__clan-tag:after
    .enrollment__clan-tag:before
      color $color--terracotta

.enrollment__clan-tag
  pointer-events none
