@use '@styles/breakpoints.module';
@use '@styles/colors.module';
@use '@styles/functions';
@use '@styles/mixins';

.root {
  border: 2px solid colors.$silver;
  font-size: functions.rem(14);
  letter-spacing: 0.1em;
  padding: functions.spacing(0.5) functions.spacing(1) functions.spacing(0.5)
    functions.spacing(2);
  position: relative;
  text-align: center;
  text-transform: uppercase;

  &::before {
    content: '\24D8';
    display: inline-block;
    font-size: functions.rem(22);
    line-height: 0;
    margin-right: 0.2em;
    position: relative;
    vertical-align: middle;
    z-index: 2;
  }

  &::after {
    background: colors.$silver;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    z-index: 1;
  }

  @include mixins.mq(breakpoints.$tablet) {
    padding-top: functions.spacing(1);
    padding-bottom: functions.spacing(1);
  }
}

.content {
  display: inline;
  position: relative;
  vertical-align: middle;
  z-index: 2;

  a {
    text-decoration: underline;
  }
}

$notification-states: (
  error: colors.$terracotta,
  notice: colors.$cornflower,
  success: colors.$pastel-green,
  warning: colors.$equator
);

@each $state, $color in $notification-states {
  .#{$state} {
    /*! purgecss ignore current */
    border-color: $color;

    &::after {
      background: $color;
    }
  }
}
