@use '@styles/breakpoints.module';
@use '@styles/colors.module';
@use '@styles/fonts.module';
@use '@styles/functions';
@use '@styles/mixins';

.root {
  border: 1px solid currentColor;
  color: currentColor;
  font-family: fonts.$heading;
  padding: functions.spacing(0.5) functions.spacing(1);
  text-transform: uppercase;

  &:hover,
  &:focus {
    transform: scale(1.05);
    outline: 0;
  }

  &:active {
    transform: scale(1.01);
  }

  &[disabled] {
    opacity: 0.5;
    user-select: none;
    pointer-events: none;
  }

  &.active {
    box-shadow: 0 4px currentColor;
  }
}

.group {
  text-align: center;

  .root {
    margin: functions.spacing(0.5) 0;

    @include mixins.mq(breakpoints.$tablet) {
      margin: functions.spacing(0.5);
    }
  }
}
