//
// BUTTONS
// =======
//

//
// BASE STYLES
// Base styles to persuade `<a>`, `<button>` and `<input>` elements to look the
// same as each other, across various browsers.
//

.button
  display inline-block
  border 0
  cursor pointer
  overflow visible // removes padding in IE

  // Presentational Styles
  background transparent
  border 1px solid currentColor
  color currentColor
  font-family $font--heading
  font-size rem(18)
  font-weight bold
  line-height inherit
  padding $spacing--half $spacing--default
  text-align center
  text-decoration none
  text-transform uppercase
  vertical-align middle
  width auto

  +width-min($mq--tablet)
    padding $spacing--half $spacing--double

  &:hover
  &:focus
    border-color currentColor
    transform scale(1.05)
    outline 0

  &:active
  &.is-active
    transform scale(1.01)

  &[disabled]
  &.is-disabled
    opacity 0.5
    user-select none
    pointer-events none

//
// BUTTON STYLES
//

.button--solid
  $background $color--nero

//
// BUTTON SIZES
//

.button--small
  font-size 0.75em
  padding $spacing--half $spacing--quarter

  +width-min($mq--tablet)
    padding $spacing--half $spacing--double

//
// BUTTON GROUP
//

.button-group
  display block
  text-align center
