//
// BUTTONS
// =======
//

//
// BASE STYLES
// Base styles to persuade `<a>`, `<button>` and `<input>` elements to look the
// same as each other, across various browsers.
//

.button
  display inline-block
  border 0
  cursor pointer
  overflow visible // removes padding in IE

  // Presentational Styles
  background transparent
  border 1px solid $color--white
  border-color rgba($color--white, 0.5)
  color $color--white
  font-family $font--heading
  font-size rem(18)
  font-weight bold
  line-height inherit
  margin auto
  padding rem(20) rem(50)
  text-align center
  text-decoration none
  text-transform uppercase
  vertical-align middle

  &:hover
  &:focus
    border-color $color--white
    transform scale(1.1)
    outline 0

  &:active
    transform scale(1.01)

//
// DISABLED BUTTON
//

.button[disabled]
.button.is-disabled
  opacity 0.75
  user-select none
  pointer-events none

//
// BUTTON GROUP
//

.button-group
  margin-top $spacing--double
