//
// BUTTONS
// =======
//

//
// BASE STYLES
// Base styles to persuade `<a>`, `<button>` and `<input>` elements to look the
// same as each other, across various browsers.
//

.button
  display inline-block
  border 0
  cursor default
  overflow visible // removes padding in IE

  // Presentational Styles
  background transparent
  border 1px solid currentColor
  color currentColor
  font-family $font--heading
  font-size rem(18)
  line-height inherit
  padding spacing(0.5) spacing(1)
  text-align center
  text-decoration none
  text-transform uppercase
  vertical-align middle
  width auto

  +width-min($mq--tablet)
    padding spacing(0.5) spacing(2)

  &[href]
    cursor pointer

  &:hover
  &:focus
    border-color currentColor
    transform scale(1.05)
    outline 0

  &:active
  &.is-active
    transform scale(1.01)

  &[disabled]
  &.is-disabled
    opacity 0.5
    user-select none
    pointer-events none

  &[data-exact]
    position relative

    &:after
      content attr(data-exact)
      position absolute
      left 0
      right 0
      top 50%
      transform translateY(-50%)
      opacity 0

    &:hover
      span
        opacity 0

      &:after
        opacity 1

.button__external
  display inline-block
  fill currentColor
  margin-left spacing(0.25)
  margin-top -0.15em
  opacity 0.75
  vertical-align middle
  width 1em
  height 1em

  a[href]:hover &
    fill $color--terracotta
    opacity 1
    transform scale(1.25)

//
// BUTTON STYLES
//

.button--solid
  background $color--nero
  color $color--white

  &:hover
  &:focus
  &:active
  &.is-active
    color $color--white

//
// BUTTON SIZES
//

.button--small
  font-size 0.75em
  padding spacing(0.5) spacing(0.25)

  +width-min($mq--tablet)
    padding spacing(0.5) spacing(2)

//
// BUTTON GROUP
//

.button-group
  display block
  text-align center

  .button
    margin spacing(0.25)
