//
// COLOUR SETTINGS
// ===============
//

$color--nero = #222
$color--silver = #bbb
$color--terracotta = #e27365

$color--black = #000
$color--white = #fff

$color--primary = $color--terracotta

// State Colours
$color--success = $color--black
$color--notice  = $color--black
$color--warning = $color--black
$color--error   = $color--black
