//
// COLOUR SETTINGS
// ===============
//

$color--black = #000
$color--white = #fff

$color--nero = lighten($color--black, 15%)
$color--nightrider = lighten($color--black, 20%)
$color--eclipse = lighten($color--black, 25%)
$color--silver = lighten($color--black, 70%)
$color--terracotta = #e27365
$color--white-smoke = #f4f4f4

$color--primary = $color--terracotta

// State Colours
$color--success = #65e273
$color--notice  = #6596e2
$color--warning = #e2b265
$color--error   = $color--terracotta
