//
// COLOUR SETTINGS
// ===============
//

$color--ebony = #2f3136
$color--nero = #222

$color--black = #000
$color--white = #fff

$color--primary = $color--white

// State Colours
$color--success = $color--black
$color--notice  = $color--black
$color--warning = $color--black
$color--error   = $color--black
