//
// FONT SETTINGS
// =============
//

$font--montserrat = 'Montserrat'

@font-face
  font-family $font--montserrat
  font-weight normal
  font-style normal
  src url('../fonts/montserrat/regular.woff2') format('woff2')
    , url('../fonts/montserrat/regular.woff') format('woff')
    , url('../fonts/montserrat/regular.eot')  format('truetype')

@font-face
  font-family $font--montserrat
  font-weight 700
  font-style normal
  src url('../fonts/montserrat/bold.woff2') format('woff2')
    , url('../fonts/montserrat/bold.woff') format('woff')
    , url('../fonts/montserrat/bold.eot')  format('truetype')

@font-face
  font-family $font--montserrat
  font-weight 900
  font-style normal
  src url('../fonts/montserrat/black.woff2') format('woff2')
    , url('../fonts/montserrat/black.woff') format('woff')
    , url('../fonts/montserrat/black.eot')  format('truetype')

$font--system = -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'
$font--body = $font--system
$font--heading = $font--montserrat, $font--system
