.credit
  display table
  line-height 1.1
  margin auto
  white-space nowrap

  +width-min($mq--tablet)
    display inline-block

.credit__link
  display inline-block
  text-align left

  &:hover
    text-decoration none

    .credit__icon
      opacity 1
      transform scale(1.1)

  &:focus
  &:active
    .credit__logo
      transform scale(1)

.credit__icon
  display inline-block
  fill currentColor
  opacity 0.75
  vertical-align top
  width rem(50)
  height rem(38)

.credit__details
  color currentColor
  display inline-block
  margin-left spacing(0.5)
  opacity 0.75
