.credit
  display inline-block
  line-height 1.1

.credit__link
  border-bottom 1px solid transparent
  display inline-block
  margin-bottom -0.35em
  padding-bottom 0.35em
  text-align left

  &:hover
  &:focus
    text-decoration none

    .credit__logo
      opacity 1
      transform scale(1.1)

.credit__logo
  display inline-block
  fill $color--white
  opacity 0.75
  vertical-align text-bottom
  width 50px

.credit__details
  color rgba($color--white, 0.75)
  display inline-block
  margin-left 0.35em
