@require '~responsive-grid/index.styl'

$grid--gutter = spacing(1)

:global
  grid-base()

  grid-widths('', 2)

  +width-min($mq--tablet)
    grid-widths('tablet', 2 3)

  +width-min($mq--tablet--landscape)
    grid-widths('tablet-landscape', 2 4)

  grid-gutter-modifier('gutterless', 0)
  grid-gutter-modifier('gutter-quadruple', spacing(4))

  grid-reverse()

  .grid--middled
    > .grid__item
      vertical-align middle

  .grid--bottomed
    > .grid__item
      vertical-align bottom

  .grid--flex
    display flex
    flex-wrap wrap

    &.grid--middled
      align-items center

  .grid--stacked
    > .grid__item
      margin-bottom spacing(0.5)
