@use '@styles/colors.module';
@use '@styles/functions';

.root {
  padding: 0 functions.spacing(0.5);
}

.row {
  align-items: center;
  background: colors.$nightrider;
  border-bottom: 1px solid colors.$nero;
  color: colors.$white;
  display: flex;
  line-height: 1.2;

  &.even {
    background: colors.$eclipse;
  }

  &:hover {
    background: colors.$smoke;
    color: colors.$black;
  }
}

.column {
  flex: 1 1 0;
  max-width: 12.5%;
  padding: functions.spacing(1);
  text-align: right;

  &[data-label] {
    position: relative;

    &::before {
      color: colors.$silver;
      content: attr(data-label);
      display: block;
      font-size: x-small;
      line-height: 1;
      margin-top: functions.spacing(-0.5);
      text-transform: uppercase;

      .row:hover & {
        color: colors.$eclipse;
      }
    }
  }
}

.avatar {
  flex-grow: 0;
  flex-shrink: 0;
}

.heading {
  flex-grow: 1;
  max-width: 100%;
  text-align: left;
}

.link {
  border-bottom: 1px solid transparent;
  color: currentColor;
  display: inline-block;
  text-decoration: none;

  &[href]:focus,
  &[href]:focus-within,
  &[href]:hover,
  .row:hover &[href] {
    border-color: colors.$terracotta;
    color: colors.$black;
  }
}

.date {
  color: colors.$silver;
  display: block;
  font-size: smaller;
  font-variant-numeric: tabular-nums;
  line-height: 1;

  .row:hover & {
    color: colors.$eclipse;
  }
}
