@use 'sass:color';
@use '@styles/breakpoints.module';
@use '@styles/colors.module';
@use '@styles/functions';
@use '@styles/mixins';
@use '@components/Avatar/sizes.module' as avatar-sizes;

.wrapper {
  min-height: 500px;
  position: relative;

  &::before,
  &::after {
    background: linear-gradient(
      color.adjust(colors.$black, $alpha: -0.25),
      color.adjust(colors.$black, $alpha: -1)
    );
    content: '';
    display: block;
    height: functions.spacing(0.5);
    margin-top: functions.spacing(-0.5);
    opacity: 0;
    position: sticky;
    width: 100%;
    z-index: 2;
  }

  &::before {
    top: 0;

    [data-overflow-top='true'] & {
      opacity: 1;
    }
  }

  &::after {
    bottom: 0;
    transform: scaleY(-1);

    [data-overflow-bottom='true'] & {
      opacity: 1;
    }
  }
}

.row {
  --current-background: #{colors.$nightrider};

  color: colors.$white;
  display: grid;
  grid-template:
    'avatar heading' auto
    '. columns' auto
    / auto 1fr;
  height: auto !important;
  line-height: 1.2;

  & + & {
    border-top: 1px solid colors.$nero;
  }

  &.even {
    --current-background: #{colors.$eclipse};
  }

  &:hover {
    --current-background: #{colors.$smoke};

    color: colors.$black;
  }

  @include mixins.mq(breakpoints.$tablet-landscape) {
    grid-template: 'avatar heading columns' / auto 40% 1fr;
  }
}

.avatar {
  grid-area: avatar;
  max-width: avatar-sizes.$small-rem;
  position: sticky;
  top: 0;

  @include mixins.mq(breakpoints.$tablet-landscape) {
    max-width: none;
  }
}

.heading {
  align-items: center;
  background: var(--current-background);
  border-bottom: 1px solid colors.$nero;
  display: flex;
  grid-area: heading;
  padding: functions.spacing(0.5);
  position: sticky;
  top: 0;
  z-index: 1;

  @include mixins.mq(breakpoints.$tablet-landscape) {
    align-items: start;
    border: 0;
    padding-inline: functions.spacing(1);
    padding-block: functions.spacing(1.4);

    > * {
      position: sticky;
      bottom: functions.spacing(1.4);
      top: functions.spacing(1.4);
    }
  }
}

.columns {
  align-items: center;
  background: var(--current-background);
  display: flex;
  flex-wrap: wrap;
  gap: functions.spacing(0.5) functions.spacing(1);
  grid-area: columns;
  padding: functions.spacing(0.5);

  @include mixins.mq(breakpoints.$tablet-landscape) {
    padding-inline: functions.spacing(1);
    justify-content: end;
  }
}

.column {
  flex: 1 1 0;
  white-space: nowrap;

  &[data-label] {
    position: relative;

    &::before {
      color: colors.$silver;
      content: attr(data-label);
      display: block;
      font-size: x-small;
      line-height: 1;
      text-transform: uppercase;

      .row:hover & {
        color: colors.$eclipse;
      }
    }
  }

  @include mixins.mq(breakpoints.$tablet-landscape) {
    max-width: 25%;
    text-align: right;
  }
}

.link {
  border-bottom: 1px solid transparent;
  color: currentColor;
  display: inline-block;
  text-decoration: none;

  &[href]:focus,
  &[href]:hover {
    border-color: colors.$terracotta;
    color: colors.$black;
  }
}

.date {
  color: colors.$silver;
  display: block;
  font-size: smaller;
  font-variant-numeric: tabular-nums;
  line-height: 1;

  .row:hover & {
    color: colors.$eclipse;
  }
}
