.holding-page
  margin auto 0

.holding-page--background:after
  background url('./holding-page.jpg')
  background-position 50% 0
  background-size cover
  content ''
  filter blur(rem(2))
  position absolute
  position fixed
  height 100%
  width 100%
  top 0
  left 0
  z-index -1
