.stat
  text-align center

  &:hover
    transform scale(1.1)

.stat__label
  border-bottom 1px solid $color--silver
  display inline-block
  font-size rem(13)
  line-height 1
  text-transform uppercase
  overflow hidden
  padding 0 0 0.1em
  text-overflow ellipsis

.stat__label--simple
  border 0
  font-size rem(13)
  margin $spacing--quarter auto 0
  max-height 1em
  max-width rem(140)
  overflow hidden
  padding 0
  text-overflow ellipsis
  text-transform none
  display -webkit-box
  -webkit-line-clamp 1
  -webkit-box-orient vertical

.stat__value
  font-size 2.5em
  font-weight bold
  line-height 1

  +width-min($mq--tablet)
    font-size 3.125em

.stat--small
  font-size 0.85em

.stat-list
  > li
    vertical-align top

  .stat
    margin $spacing--quarter $spacing--default

    +width-min($mq--tablet)
      margin $spacing--half $spacing--default

.stat-lockup
  margin-top $spacing--default
  padding-top $spacing--default

  & + .stat-list
    margin-top $spacing--half
