.stat
  text-align center

  &:hover
    transform scale(1.1)

.stat__label
  border-bottom 1px solid $color--silver
  display inline-block
  font-size small
  line-height 1
  text-transform uppercase
  overflow hidden
  padding 0 0 0.1em
  text-overflow ellipsis

  +width-min($mq--tablet)
    font-size smaller

.stat__label--simple
  border 0
  font-size small
  max-width rem(100)
  padding $spacing--quarter 0 0
  text-transform none

.stat__value
  font-size rem(40)
  font-weight bold
  line-height 1

  +width-min($mq--tablet)
    font-size rem(50)

.stat-list
  text-align center

  > li
    vertical-align top

  .stat
    margin $spacing--quarter $spacing--default

    +width-min($mq--tablet)
      margin $spacing--half $spacing--default

.stat-history
  text-align center

.stat-history--cutout
  margin-top ($spacing--default * -1) !important // @stylint ignore
  margin-left $spacing--half
  margin-right $spacing--half

  +width-min($mq--tablet)
    margin-top ($spacing--double * -1) !important // @stylint ignore
    margin-left $spacing--default
    margin-right $spacing--default

  +width-min($mq--desktop)
    margin-left $spacing--double
    margin-right $spacing--double

.stat-history__card
  background $color--nightrider
  box-shadow none
  color $color--white
