@use '@styles/breakpoints.module';
@use '@styles/colors.module';
@use '@styles/functions';

.root {
  text-align: center;
}

.label {
  display: inline-block;
  font-size: small;
  line-height: 1;
  margin: functions.spacing(0.25) auto 0;
  overflow: hidden;
  text-overflow: ellipsis;

  &:first-child {
    border-bottom: 1px solid colors.$silver;
    margin: 0;
    padding: 0 0 0.1em;
    text-transform: uppercase;
  }
}

.value {
  font-size: 2.5em;
  font-weight: bold;
  line-height: 1;
}

.list {
  text-align: center;

  > li {
    vertical-align: top;
  }

  .root {
    margin: functions.spacing(0.25) functions.spacing(1);
  }

  .heading + & {
    margin-top: functions.spacing(0.5);
  }
}

.tooltip {
  margin-bottom: functions.spacing(0.5);
}
