.page-container
  flex 1 0 auto

.page-container__inner
  > * + *
    margin-top $spacing--double

  > *:first-child
    padding-top $spacing--default

  > *:last-child
    padding-bottom $spacing--default
