.medal
  color $color--black
  position relative

  &:hover
    transform scale(1.1)

  .background
  .foreground
    fill currentColor

.medal__icon
  width rem(60)

  +width-min($mq--tablet)
    width rem(75)

.medal__label
  font-size small
  line-height 1
  max-height 4em
  overflow hidden
  margin-top $spacing--quarter
  text-overflow ellipsis
  width rem(120)
  display -webkit-box
  -webkit-line-clamp 4
  -webkit-box-orient vertical

.medal__count
  background currentColor
  border-radius $spacing--default
  font-size x-small
  font-weight bold
  line-height 1
  min-width 2em
  padding $spacing--quarter
  position absolute
  top 0.5em
  right -0.5em
  text-align center

.medal__layer
  position absolute
  top 0
  left 0
  width 100%
  height auto

.medal__highlight
  fill $color--white
  opacity 0.1

.medal--tier-1
  .background
    color $color--silver

  .foreground
    color $color--terracotta

.medal--tier-2
  .background
    color $color--eclipse

  .foreground
    color $color--equator

.medal--tier-3
  .background
    color $color--black

  .foreground
    color $color--lemon

.medal--small
  .medal__icon
    width rem(45)

.medal--x-small
  .medal__icon
    width rem(30)

  .medal__count
    display none

.medal-list
  > li
    vertical-align top

  .medal
    margin $spacing--quarter

    +width-min($mq--tablet)
      margin $spacing--half

.medal-lockup
  margin-top $spacing--double

  & + .medal-list
    margin-top $spacing--half
