//
// GRID
// ====
// Reference: https://github.com/clocklimited/responsive-grid
//

$grid--gutter = $spacing--default

//
// BASE GRID STYLES
//

grid-base()


//
// GRID WIDTHS
// Only add widths when required, to keep compiled CSS clean
//

// +width-min($mq--tablet)
//   grid-widths('tablet', 2)

.auto
  width auto

//
// GRID MODIFIERS
//

grid-gutter-modifier('gutterless', 0)
