.timer
  display block
  text-align center

.timer__stat
  display block
  position relative
  z-index 2

.timer__date
  display inline-block
  font-size rem(12)
  letter-spacing 0.1em
  line-height 1.1
  margin-top $spacing--quarter
  padding 0 $spacing--half
  text-align right
  text-transform uppercase
  vertical-align top
  width 50%

  &:before
    content attr(data-prefix)
    display block
    font-weight bold

  & + &
    text-align left

.timer__range
  margin 0 auto
  max-width $mq--mobile--landscape
  position relative
  width 100%
  z-index 1

.timer__range--active
  margin-top -1.5em

  .timer__date
    text-align left
    padding 0

    & + .timer__date
      text-align right

.timer-progress
  border 1px solid $color--silver
  display block
  margin $spacing--half auto $spacing--quarter
  height $spacing--default
  padding 1px

.timer-progress__value
  background $color--terracotta
  display block
  max-width 100%
  height 100%
  opacity 0.75
  transition all 0.5s
  width 0

  [data-value='100'] &
    opacity 0.25
