.timer
  display block
  margin-bottom $spacing--double
  text-align center

.timer__stat
  display block
  margin-bottom $spacing--half

.timer__date
  display inline-block
  font-size rem(12)
  letter-spacing 0.1em
  line-height 1.1
  max-width rem(75)
  text-transform uppercase
  vertical-align middle

.timer-progress
  background $color--white
  display inline-block
  margin 0 $spacing--half
  height $spacing--default
  vertical-align middle
  width $mq--mobile--portrait

.timer-progress__value
  background $color--terracotta
  display block
  max-width 100%
  height 100%
  width 0
