version: 2.1

orbs:
  codecov: codecov/codecov@3.2.2
  newhighsco: newhighsco/orb@1.7.0

workflows:
  version: 2
  test_and_release:
    jobs:
      - newhighsco/setup:
          name: setup
      - newhighsco/test:
          name: test
          requires:
            - setup
      - newhighsco/build:
          name: build
          command: yarn build:storybook
          path-to-persist: storybook
          post-steps:
            - codecov/upload
          requires:
            - test
      - newhighsco/snapshot:
          name: snapshot
          requires:
            - build
      - newhighsco/release:
          name: release
          requires:
            - snapshot
          filters:
            branches:
              only:
                - main
