//
// COLOUR SETTINGS
// ===============
//

$color--black = #000
$color--white = #fff

$color--terracotta = #e27365
$color--equator = #e2b265
$color--lemon = #d6da2a
$color--pastel-green = #65e273
$color--cornflower = #6596e2
$color--nero = lighten($color--black, 15%)
$color--nightrider = lighten($color--black, 20%)
$color--eclipse = lighten($color--black, 25%)
$color--silver = lighten($color--black, 70%)
$color--white-smoke = darken($color--white, 4.5%)

$color--primary = $color--terracotta

// State Colours
$color--success = $color--pastel-green
$color--notice  = $color--cornflower
$color--warning = $color--equator
$color--error   = $color--terracotta
