//
// FONT SETTINGS
// =============
//

$font--montserrat = 'Montserrat'

$font--system = -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'
$font--body = $font--system
$font--heading = $font--montserrat, $font--system
$font--base-size = 16px
$font--line-height = 1.5
