//
// SPACING SETTINGS
// ================
//

$spacing--default = rem(20)

$spacing--double = ($spacing--default * 2)
$spacing--treble = ($spacing--default * 3)
$spacing--quadruple = ($spacing--default * 4)

$spacing--half = ($spacing--default / 2)
$spacing--quarter = ($spacing--default / 4)
