// Font families
$montserrat: 'Montserrat';

// Font stacks
/* stylelint-disable value-keyword-case */
$stack-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
  sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
/* stylelint-enable value-keyword-case */

// Font aliases
$body: $stack-system;
$heading: $montserrat, $stack-system;

:export {
  body: $body;
  heading: $heading;
}
