@use '~@newhighsco/chipset/styles/normalize';
@use '@styles/breakpoints.module';
@use '@styles/fonts.module';
@use '@styles/font-faces';
@use '@styles/theme';

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-background);
  color: var(--color-text);
  font-size: 16px;
  line-height: 1.5;
  font-family: fonts.$body;
  font-weight: normal;
  min-width: breakpoints.$mobile;
}

a {
  color: inherit;
}

::selection {
  color: var(--color-text);
  background: var(--color-highlight);
  text-shadow: none;
}
