@use '~@newhighsco/chipset/styles/normalize';
@use '@styles/breakpoints.module';
@use '@styles/colors.module';
@use '@styles/fonts.module';
@use '@styles/font-faces';

body {
  background: colors.$nero;
  color: colors.$white;
  font-size: 16px;
  line-height: 1.5;
  font-family: fonts.$body;
  font-weight: normal;
  min-width: breakpoints.$mobile;
}
