//
// BUTTONS
// =======
//

//
// BASE STYLES
// Base styles to persuade `<a>`, `<button>` and `<input>` elements to look the
// same as each other, across various browsers.
//

.button
  display inline-block
  border 0
  cursor pointer
  overflow visible // removes padding in IE

  // Presentational Styles
  font-size 1em
  text-align center
  background transparent
  border 1px solid $color--white
  border-color rgba($color--white, 0.5)
  color $color--white
  position relative
  text-decoration none
  margin rem(20) auto 0
  padding rem(20) rem(50)
  font-family $font--heading
  font-size rem(18)
  font-weight bold
  text-transform uppercase
  transform scale(1)

  &:hover
  &:focus
    border-color $color--white
    text-decoration none
    transform scale(1.1)
    outline 0

  &:active
    transform scale(1.01)

//
// DISABLED BUTTON
//

.button[disabled]
.button.is-disabled
  opacity 0.75
  user-select none
  pointer-events none
