.credit
  line-height 1.1
  padding ($spacing--default * 3) 0
  text-align center

.credit__link
  border-bottom 1px solid transparent
  color $color--white
  display inline-block
  margin-bottom -0.35em
  padding-bottom 0.35em
  text-align left
  transition border-color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1)

  &:hover
  &:focus
    border-color $color--white
    border-color rgba($color--white, 0.5)
    color $color--white
    text-decoration none

.credit__logo
  display inline-block
  fill $color--white
  vertical-align text-bottom
  width 50px

.credit__details
  color rgba($color--white, 0.75)
  display inline-block
  margin-left 0.35em
