.panel
  display block
  margin $spacing--default auto

  +width-min($mq--tablet)
    margin-bottom $spacing--default * 3

  &:hover
    text-decoration none

    .panel__icon
      opacity 1
      transform scale(1.1)

.panel__icon
  fill $color--white
  opacity 0.75
  margin 0 $spacing--default
  max-width 100px
  transform scale(1)

.panel__title
  font-family $font--heading
  font-size 1.5em
  font-weight bold
  line-height 1.1
  margin-bottom $spacing--default
  text-transform uppercase
