//
// LOGO
// ====
//

.logo
  display inline-block
  text-align center

//
// ICON
//

.logo-icon
  display inline-block
  fill $color--white
  height auto
  max-width rem(70)

  +width-min($mq--tablet)
    max-width rem(100)

  +width-min($mq--desktop)
    max-width rem(200)

  .logo &
    display table
    margin auto

.logo-icon--small
  max-width rem(70)

.logo-icon--medium
  max-width rem(100)

//
// TEXT LOCKUP
//

.logo-lockup
  .logo &
    display table

  .logo-icon + &
    margin-top -0.8em

  .lockup__kicker:after
    opacity 0.75

.logo-lockup--small
  font-size rem(30)

.logo-lockup--medium
  font-size rem(40)
