//
// LOGO
// ====
//

.logo
  display inline-block
  text-align center

//
// ICON
//

.logo-icon
  display inline-block
  fill $color--white
  height auto
  max-width 70px

  +width-min($mq--tablet)
    max-width 100px

  +width-min($mq--desktop)
    max-width 200px

  .logo &
    display table
    margin auto

.logo-icon--small
  max-width 70px

.logo-icon--medium
  max-width 100px

//
// TEXT LOCKUP
//

.logo-lockup
  .logo &
    display table

  .logo-icon + &
    margin-top -0.8em

.logo-lockup--small
  font-size 30px

.logo-lockup--medium
  font-size 40px
