.logo
  display inline-block
  margin auto
  padding $spacing--default 0
  text-align center

.logo-icon
  display table
  fill $color--white
  margin auto
  height auto
  max-width 70px

  +width-min($mq--tablet)
    max-width 100px

  +width-min($mq--desktop)
    max-width 200px

.logo-lockup
  color $color--white
  display table
  font-family $font--heading
  font-size 30px
  font-weight bold
  line-height 1
  margin auto
  text-align left

  .logo-icon + &
    margin-top -0.8em

  +width-min($mq--tablet)
    font-size 40px

  +width-min($mq--desktop)
    font-size 50px

.logo-lockup__kicker
  border-bottom 5px solid $color--white
  border-color rgba($color--white, 0.75)
  display block
  font-size 0.4em
  letter-spacing 0.4em
  margin 0 0.06em 0.5em
  padding 0 5px 5px
  text-align left
  text-transform uppercase

.logo-lockup__text
  display inline-block
  font-weight bolder
  margin auto
  position relative
  text-transform uppercase

  &:after
    border 1px solid $color--white
    border-color rgba($color--white, 0.5)
    content ''
    position absolute
    top 0.25em
    right -5px
    bottom 0.3em
    left -5px

.logo--small
  .logo-icon
    max-width 70px

  .logo-lockup
    font-size 30px

.logo--medium
  .logo-icon
    max-width 100px

  .logo-lockup
    font-size 40px
