//
// INDEX STYLESHEET
// ================
//

//
// STYLUS PLUGINS
//

@require 'stylus-mixins'
@require 'responsive-grid'

// SETTINGS
// Set variables. Should not output CSS.
@require 'settings/*'

// TOOLS
// Globally used mixins and functions. Should not output CSS.
@require 'tools/*'

// GENERIC
// Reset/normalize styles, box-sizing definition, etc.
@require 'generic/*'

// ELEMENTS
// Base styles for actual HTML elements, no classes allowed.
@require 'elements/*'

// OBJECTS
// class-based selectors which define undecorated design patterns, for example media object known from OOCSS.
@require 'objects/*'

// COMPONENTS
// specific UI components. This is where majority of our work takes place.
// Our UI components are often composed of Objects and Components
@require 'components/*'
@require '../components/**/*.styl'

// UTILITIES
// Helper classes with ability to override anything, e.g. visibility
@require 'utilities/*'
