//
// INDEX STYLESHEET
// ================
//


// SETTINGS

@require 'settings/*'

*
*:after
*:before
  box-sizing border-box

body
  background $color--nero
  color $color--white
  font-family $font--body
  margin 0
  padding 0

  &:after
    background url('../images/body.jpg')
    background-position 50% 0
    background-size cover
    content ''
    position fixed
    height 100%
    width 100%
    top 0
    left 0
    z-index -1

// COMPONENTS

@require '../components/**/*.styl'
