.filter
  background $color--white
  border 2px solid $color--white
  cursor text
  line-height 1
  opacity 0.9
  padding spacing(1) 0 spacing(0.5) spacing(1)
  position relative
  text-align left
  z-index 3

  &.is-focused
    opacity 1

.filter__lockup
  padding spacing(1) 0

.filter__selected
  display inline

.filter__search
  display inline-block
  line-height inherit
  max-width 100%

.filter__input
  margin-bottom spacing(0.5)

  input
    background transparent
    border 0
    font-size inherit
    line-height inherit
    max-width 100%
    outline 0

    &::-ms-clear
      display none

.filter__suggestions
  position absolute
  top 100%
  left 0
  width 100%

  ul
    box-shadow 0 spacing(1) spacing(2) rgba($color--black, 0.5), 0 spacing(0.5) spacing(0.5) rgba($color--black, 0.25)
    font-size rem(14)
    padding 0

  li
    background $color--nightrider
    border-top 1px solid $color--nero
    color $color--white
    line-height 1.5
    list-style none
    margin 0
    padding spacing(0.5) spacing(1)
    position relative

    &:nth-child(even)
      background $color--eclipse

    mark
      background none
      color inherit
      text-decoration underline

    span:after
      content 'Select'
      color $color--silver
      position absolute
      top spacing(0.5)
      right spacing(1)
      text-transform uppercase

    &:hover
    &.is-active
      background $color--white-smoke
      color $color--black
      cursor pointer

      span:after
        color $color--terracotta

    &.is-disabled
      color $color--silver
      cursor default
      pointer-events none

      span:after
        display none

.filter-tag
  background $color--eclipse
  border 0
  border-radius spacing(1)
  color $color--white
  display inline-block
  font-size smaller
  font-weight bold
  line-height inherit
  margin -1px spacing(0.25) spacing(0.25) 0
  outline 0
  padding spacing(0.25) spacing(0.5)

  &:last-of-type
    margin-right spacing(0.5)

  &:after
    content '\2715'
    margin-left spacing(0.5)

  &:hover
  &:focus
    background $color--silver
