@use 'sass:color';
@use '@styles/breakpoints.module';
@use '@styles/functions';
@use '@styles/mixins';

.root {
  background: var(--color-background-inverted);
  box-shadow: 0 functions.spacing(1) functions.spacing(1)
      rgb(var(--color-shadow) 0.5),
    0 functions.spacing(0.5) functions.spacing(0.5)
      rgb(var(--color-shadow) 0.25);
  color: var(--color-text-inverted);
  height: auto;
  overflow: visible;
  padding: functions.spacing(2) functions.spacing(1);

  @include mixins.mq(breakpoints.$tablet) {
    padding: functions.spacing(2);
  }
}

.content,
.copy {
  > * + * {
    margin-top: functions.spacing(1);
  }
}
