.card
  background $color--white-smoke
  box-shadow 0 $spacing--default $spacing--double rgba($color--black, 0.5), 0 $spacing--half $spacing--half rgba($color--black, 0.25)
  color $color--nero
  padding $spacing--double $spacing--default

  > * + *
    margin-top $spacing--default

  &:last-child
    margin-bottom 0

  +width-min($mq--tablet)
    padding $spacing--double

.card__avatar
  margin ($spacing--treble * -1) auto 0
  outline 2px solid $color--white
  width rem(75)
  height rem(75)

  +width-min($mq--tablet)
    width rem(96)
    height rem(96)

.card__tags
  margin-top -1em
  position relative

  > li
    display block !important // @stylint ignore

    & + li
      margin-top $spacing--quarter

  .tag
    font-size rem(14)
    margin 0 !important // @stylint ignore
    padding $spacing--quarter $spacing--half

.card--cutout
  +width-min($mq--tablet)
    padding-bottom $spacing--treble

  &:last-child
    padding-bottom $spacing--double
