@use 'sass:color';
@use '@styles/breakpoints.module';
@use '@styles/colors.module';
@use '@styles/functions';
@use '@styles/mixins';

.root {
  background: colors.$smoke;
  box-shadow: 0 functions.spacing(1) functions.spacing(1)
      color.adjust(colors.$black, $alpha: -0.5%),
    0 functions.spacing(0.5) functions.spacing(0.5)
      color.adjust(colors.$black, $alpha: -0.75%);
  color: colors.$nero;
  padding: functions.spacing(2) functions.spacing(1);

  @include mixins.mq(breakpoints.$tablet) {
    padding: functions.spacing(2);
  }
}

.content,
.copy {
  > * + * {
    margin-top: functions.spacing(1);
  }
}
