.prose
  // Unset common styles left in place by WYSIWYG editor
  $properties = 'box-sizing', 'color', 'font-family', 'font-size', 'font-style', 'font-weight', 'line-height', 'margin', 'padding', 'text-decoration', 'white-space'

  for $property in $properties
    [style*={$property}]
      {$property}: inherit !important // @stylint ignore

  > * + *
    margin-top spacing(1)

  h2
    font-size 1.2em


  h2, h3
    font-weight bold
    margin-bottom spacing(-1)

    &:last-child
      margin-bottom 0

    &:hover
      .anchor
        opacity 1

  a[href]
    text-decoration underline

    &:hover
    &:focus
      text-decoration-color $color--terracotta

  .anchor
    color $color--terracotta
    float left
    margin-left spacing(-1)
    opacity 0
    text-align center
    text-decoration none !important // @stylint ignore
    width spacing(1)
    height 1em

    &:before
      content '#'
