.modifiers
  position relative

.modifiers__icon
  background $color--black
  border-radius 100%
  color $color--white
  font-size rem(45)
  fill $color--white
  display block
  margin $spacing--half !important // @stylint ignore
  overflow hidden
  height 1em
  line-height 1em
  width 1em
  text-align center
  vertical-align middle

  &:hover
    transform scale(1.1)

  +width-min($mq--tablet)
    font-size rem(60)

.modifiers__label
  display inline-block
  font-size 0.333em
  vertical-align top

.modifiers--small
  .modifiers__icon
    font-size rem(30)
    margin-left $spacing--quarter !important // @stylint ignore
    margin-right $spacing--quarter !important // @stylint ignore
