.swatch
  border 1px solid $color--silver
  position relative
  padding-top 8em
  text-align left

.swatch__caption
  background-color $color--white
  padding 0.5em 0.75em
  border-top 1px solid $color--silver

.swatch__title
  font-weight bold
