.modifier
  background $color--black
  border-radius 100%
  color $color--white
  font-size rem(45)
  fill currentColor
  display block
  height 1em
  line-height 1em
  position relative
  width 1em
  text-align center
  vertical-align top

  &:hover
    transform scale(1.1)

  +width-min($mq--tablet)
    font-size rem(60)

.modifier__label
  display inline-block
  font-size 0.3em
  vertical-align top

  svg + &
    background $color--primary
    border-radius spacing(1)
    font-size x-small
    line-height 1
    min-width 2em
    padding spacing(0.25)
    position absolute
    bottom 0
    right -0.5em
    text-align center

.modifier__icon
  display block
  width 1em
  height 1em

.modifier--small
  font-size rem(30)

  svg + .modifier__label
    display none

.modifier--promoted
  background $color--equator
  color $color--eclipse
  position relative

  &:after
    content ''
    border 1px solid $color--equator
    border-radius 100%
    position absolute
    top -3px
    bottom @top
    left @top
    right @top
    z-index 1

  .modifier__icon
    position relative
    z-index 2

.modifier-list
  position relative

  > li
    vertical-align top

  .modifier
    margin spacing(0.5)

  .modifier--small
    margin-left spacing(0.25)
    margin-right spacing(0.25)
