.header
  background url('../images/header.jpg')
  background-position 50% 0
  background-size cover
  margin-bottom $spacing--double
  padding $spacing--default 0
  position relative

  +width-min($mq--tablet)
    margin-bottom $spacing--treble
    padding $spacing--double 0

.header__container
  position relative
  z-index 2

.header__logo-link
  display inline-block
  vertical-align middle
  margin-bottom ($spacing--double * -1)

  +width-min($mq--tablet)
    margin-bottom ($spacing--quadruple * -1)

  &:hover
    transform scale(1.05)

  &:active
  &:focus
    transform scale(1)

.header__logo-icon.logo-icon
  display none
  fill $color--silver
  opacity 0.25
  position absolute
  top ($spacing--default * -1)
  right $spacing--double

  +width-min($mq--tablet)
    display block

.header__logo-lockup.logo-lockup
  +width-min($mq--desktop)
    font-size rem(40)
