@use '@styles/breakpoints.module';
@use '@styles/colors.module';
@use '@styles/functions';
@use '@styles/mixins';

.root {
  color: colors.$white;
  margin-bottom: functions.spacing(-10);
  padding-bottom: functions.spacing(10);
  position: relative;
}

.content {
  padding-top: functions.spacing(1);
  padding-bottom: functions.spacing(1);
  position: relative;

  @include mixins.mq(breakpoints.$tablet) {
    padding-top: functions.spacing(2);
    padding-bottom: functions.spacing(2);
  }
}

.background {
  filter: blur(functions.rem(2));
}

.logo {
  max-width: 50%;
  width: auto;
}

.logoLink {
  color: currentColor;
  display: inline-block;

  &:hover {
    transform: scale(1.05);
  }

  &:active,
  &:focus {
    transform: scale(1);
  }
}

.logoLockup {
  @include mixins.mq(breakpoints.$desktop) {
    font-size: functions.rem(40) !important;
  }
}

.navigation {
  flex-grow: 1;
  text-align: right;
  width: auto;
}
