//
// GRID
// ====
// Reference: https://github.com/clocklimited/responsive-grid
//

$grid--gutter = $spacing--default

//
// BASE GRID STYLES
//

grid-base()

//
// GRID WIDTHS
// Only add widths when required, to keep compiled CSS clean
//

grid-widths('', 2)

+width-min($mq--tablet)
  grid-widths('tablet', 2 3)

+width-min($mq--tablet--landscape)
  grid-widths('tablet-landscape', 2 4)

//
// GRID MODIFIERS
//

grid-gutter-modifier('gutterless', 0)
grid-gutter-modifier('gutter-quadruple', $spacing--quadruple)

grid-reverse()

.grid--middled
  > .grid__item
    vertical-align middle

.grid--bottomed
  > .grid__item
    vertical-align bottom

.grid--flex
  display flex
  flex-wrap wrap

.grid--stacked
  > .grid__item
    margin-bottom $spacing--half
