.advert
  margin-top 0 !important // @stylint ignore
  text-align center

.advert--active
  margin-top $spacing--double !important // @stylint ignore

.adsbygoogle
  border 0
  display block
  overflow hidden

.has-advert > div
  display none !important // @stylint ignore

  &#___gatsby
    display block !important // @stylint ignore
