.advert
  margin 0
  padding 0 $spacing--double
  text-align center

  +width-min($mq--desktop)
    padding 0 $spacing--treble

  .adsbygoogle
    border 0
    display block
    margin auto !important // @stylint ignore
    overflow hidden

.advert--active
  margin-top $spacing--double
