//
// FIELD
// =====
// These lay out controls, labels and additional elements within the context
// of a form
//

.field
  text-align left
  margin-bottom $spacing--default

.field__question
  margin-bottom rem(5)
  display inline-block
  color inherit

.field__assistance
  margin-top rem(6)
  color inherit
  line-height 1.2
