.temp
  background $color--lemon
  border 1px solid $color--black
  color $color--black
  padding $spacing--default
  text-align left

  > * + *
    margin-top $spacing--default

  .temp
    margin-top $spacing--default
