@use '@styles/functions';

.root {
  flex-grow: 0;
  margin: auto;
  padding: functions.spacing(2);
}

.background {
  filter: blur(functions.rem(2)) !important;
  position: relative;
  transform: scale(1.01);
}
