.tab-container
  position relative
  text-align center

  &.is-enhanced
    display flex
    flex-wrap wrap
    align-items center
    justify-content center

    .tab-navigation
      margin 0 0 spacing(0.5)
      max-width rem(180)
      width 33.333%

      &:before
        display none

    .tab-button
      border-bottom-width 1px
      border-color currentColor
      color $color--silver
      cursor pointer
      width 100%

      &.is-active
        border-bottom-width 5px
        color $color--white
        cursor default

    .tab-content
      display none
      order 1
      width 100%

      &.is-active
        display block

.tab-container--cutout
  margin-top spacing(-1) !important // @stylint ignore
  margin-left spacing(0.5)
  margin-right spacing(0.5)

  +width-min($mq--tablet)
    margin-left spacing(1)
    margin-right spacing(1)

  +width-min($mq--desktop)
    margin-left spacing(2)
    margin-right spacing(2)

.tab-navigation
  margin spacing(2) auto spacing(0.5)
  padding 0 spacing(0.25)
  position relative

  &:before
    border-bottom 1px solid $color--eclipse
    content ''
    position absolute
    top 50%
    left 0
    right 0
    z-index 1

  &:first-child
    margin-top 0

    &:before
      display none

.tab-button
  background-color $color--nero
  border-bottom-width 5px
  padding-left spacing(0.25)
  padding-right spacing(0.25)
  position relative
  width 33.333%
  z-index 2

  +width-min($mq--tablet)
    max-width rem(180)

.tab-content
  text-align left
