.tab-container
  position relative
  text-align center

  &.is-active
    display flex
    flex-wrap wrap
    align-items center
    justify-content center

    .tab-navigation
      margin 0 0 $spacing--half
      max-width rem(180)
      width 33.333%

      &:before
        display none

    .tab-button
      border-bottom-width 1px
      border-color $color--eclipse
      color $color--silver
      cursor pointer
      width 100%

      &.is-active
        border-color currentColor
        border-bottom-width 5px
        color currentColor
        cursor default

    .tab-content
      display none
      order 1
      width 100%

      &.is-active
        display block

.tab-container--cutout
  margin-top ($spacing--default * -1) !important // @stylint ignore
  margin-left $spacing--half
  margin-right $spacing--half

  +width-min($mq--tablet)
    margin-left $spacing--default
    margin-right $spacing--default

  +width-min($mq--desktop)
    margin-left $spacing--double
    margin-right $spacing--double

.tab-navigation
  margin $spacing--double auto $spacing--half
  padding 0 $spacing--quarter
  position relative

  &:before
    border-bottom 1px solid $color--eclipse
    content ''
    position absolute
    top 50%
    left 0
    right 0

  &:first-child
    margin-top 0

    &:before
      display none

.tab-button
  background-color $color--nero
  border-bottom-width 5px
  padding-left $spacing--quarter
  padding-right $spacing--quarter
  width 33.333%

  +width-min($mq--tablet)
    max-width rem(180)

.tab-content
  text-align left
