@use '@styles/breakpoints.module';
@use '@styles/colors.module';
@use '@styles/functions';
@use '@styles/mixins';

.root {
  border-top: 1px solid colors.$eclipse;
  color: colors.$white;
  margin-top: functions.spacing(2);
  position: relative;
}

.content {
  padding: functions.spacing(4) 0 functions.spacing(1);

  @include mixins.mq(breakpoints.$tablet-landscape) {
    padding-top: functions.spacing(1);
  }
}

.links {
  padding: functions.spacing(1) 0;
  text-align: center;
  text-transform: uppercase;

  @include mixins.mq(breakpoints.$tablet) {
    padding: 0;
    text-align: right;
  }
}

.item {
  padding: 0 functions.spacing(0.5);

  @include mixins.mq(breakpoints.$tablet) {
    padding: 0;

    & + & {
      padding-left: functions.spacing(1);
    }
  }
}

.link {
  color: colors.$silver;
  display: block;
  font-size: functions.rem(14);
  letter-spacing: 0.4em;
  text-decoration: none;

  &::after {
    content: '';
    display: block;
    border-bottom: 1px solid transparent;
    margin-right: 0.4em;
  }

  &[href]:focus,
  &[href]:hover {
    &::after {
      border-color: colors.$terracotta;
    }
  }
}

.credit {
  white-space: nowrap;

  @include mixins.mq($max: breakpoints.$tablet - 1) {
    text-align: center;
  }
}

.creditLogo {
  opacity: 75%;
}

.creditLink {
  &:hover,
  &:focus,
  &:active {
    .creditLogo {
      opacity: 100%;
    }
  }
}

.creditText {
  color: colors.$silver;
  font-size: functions.rem(14);
}

.logo {
  color: colors.$silver;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: functions.spacing(-2);
  text-align: center;
  transition: margin 0.25s;
  width: functions.rem(60);

  &:hover {
    color: colors.$white;
    margin-top: functions.spacing(-0.5);
  }
}
