/*! purgecss start ignore */
@use '~@newhighsco/chipset/styles/normalize';
@use '@styles/fonts.module';
@use '@styles/font-faces';

:global {
  body {
    font-family: fonts.$body;
  }
}

/*! purgecss end ignore */
