:global
  body
    background none
    color black

  .storybook-preview-container
    padding spacing(1)

  .storybook-tooltips-visible
    .tooltip > *
      vertical-align top

    .tooltip__content
      display inline-block
      margin spacing(0.5)
      position static

    .tooltip__backdrop
      display none
