$color--grey = #dfe1e6
$color--white = #fff

body
  background none
  background-image repeating-linear-gradient(0, $color--white, $color--white 7px, transparent 0, transparent), repeating-linear-gradient(90deg, $color--grey, $color--grey 1px, transparent 0, transparent)
  background-position 0 0
  background-size 8px 8px

  > #root
    height 100%

.storybook-preview-container
  height 100%
  height calc(100% - 30px)
  margin 15px
  overflow scroll
