:global
  body
    background none
    color black

  .storybook-preview-container
    padding spacing(1)

  .storybook-tooltips-visible
    li span > *
      vertical-align top

    span[tabindex]
      display inline-block
      margin spacing(0.5)
      position static
