//
// TEXT BUTTON
// Simple reset to make button elements look more like text links.
//

.text-button
  background none
  border 0
  color inherit
  cursor pointer
  font-family inherit
  font-size inherit
  line-height inherit
  margin 0
  padding 0
  text-decoration none

  &:focus
  &:hover
    color inherit
    outline 0

  &:active
    color inherit

.text-button__external
  display inline-block
  fill currentColor
  margin-left spacing(0.25)
  vertical-align bottom
  width rem(20)
  height rem(20)

  &:first-child
    margin-left 0

  a[href]:hover &
    fill $color--terracotta
    transform scale(1.25)
