@use '~styles/functions';

.content {
  > * + * {
    margin-top: functions.spacing(1);
  }
}

.avatar {
  display: flex;
  margin-bottom: functions.spacing(1);
  margin-top: functions.spacing(-3);
}
