@use '~styles/functions';

$small: 48px;
$medium: 75px;
$large: 96px;
$small-rem: functions.rem($small);
$medium-rem: functions.rem($medium);
$large-rem: functions.rem($large);

:export {
  small: functions.strip-unit($small);
  medium: functions.strip-unit($medium);
  large: functions.strip-unit($large);
}
