@use '@styles/breakpoints.module';
@use '@styles/colors.module';
@use '@styles/functions';
@use '@styles/mixins';
@use './sizes.module';

.root {
  --avatar-width: #{functions.rem(sizes.$medium)};

  aspect-ratio: 1;
  background: colors.$nero;
  display: inline-block;
  fill: currentColor;
  position: relative;
  width: var(--avatar-width);

  @include mixins.mq(breakpoints.$tablet) {
    --avatar-width: #{functions.rem(sizes.$large)};
  }

  &.small {
    --avatar-width: #{functions.rem(sizes.$small)};
  }

  &.medium {
    --avatar-width: #{functions.rem(sizes.$medium)};
  }
}

.layer {
  color-interpolation-filters: sRGB;
  position: absolute;
  top: 0;
}

.inline {
  background: none;
}

.outline {
  outline: 2px solid colors.$white;
}

.center {
  display: block;
  margin: auto;
}
