@use '@styles/breakpoints.module';
@use '@styles/colors.module';
@use '@styles/functions';
@use '@styles/mixins';

.root {
  $avatar-width-small: functions.rem(48);
  $avatar-width-medium: functions.rem(75);
  $avatar-width-large: functions.rem(96);

  background: colors.$nero;
  display: inline-block;
  fill: currentColor;
  position: relative;
  width: $avatar-width-medium;

  @include mixins.mq(breakpoints.$tablet) {
    width: $avatar-width-large;
  }

  &.small {
    width: $avatar-width-small;
  }

  &.medium {
    width: $avatar-width-medium;
  }
}

.layer {
  color-interpolation-filters: sRGB;
  position: absolute;
  top: 0;
}

.inline {
  background: none;
}

.outline {
  outline: 2px solid colors.$white;
}

.center {
  display: block;
  margin: auto;
}
