@use '~styles/breakpoints.module';
@use '~styles/colors.module';
@use '~styles/functions';
@use '~styles/mixins';
@use './sizes.module';

.root {
  --avatar-width: #{sizes.$medium-rem};

  aspect-ratio: 1;
  background: colors.$nero;
  display: inline-block;
  fill: currentColor;
  position: relative;
  width: var(--avatar-width);

  @include mixins.mq(breakpoints.$tablet) {
    --avatar-width: #{sizes.$large-rem};
  }

  &.small {
    --avatar-width: #{sizes.$small-rem};
  }

  &.medium {
    --avatar-width: #{sizes.$medium-rem};
  }
}

.layer {
  color-interpolation-filters: sRGB;
  position: absolute;
  top: 0;
}

.inline {
  background: none;
}

.outline {
  outline: 2px solid colors.$white;
}

.center {
  display: block;
  margin: auto;
}

.inner {
  width: 100%;
}
