.avatar
  background $color--nero
  min-width rem(60)
  max-width rem(96)

.avatar__layer
  display block
  color-interpolation-filters sRGB
  position static !important // @stylint ignore

  & + &
    margin-top -100%
