//
// TOOLTIP
// ============
//

$tooltip--width = rem(250)

.tooltip
  display inline-block
  position relative

.tooltip__trigger
  cursor help !important // @stylint ignore
  display inline-block

.tooltip__backdrop
  background-color rgba($color--black, 0.1)
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  z-index 9

.tooltip__content
  background-color $color--white-smoke
  border 1px solid $color--silver
  box-shadow 0 0 $spacing--half rgba($color--black, 0.5)
  color $color--black
  font-size smaller
  line-height 1.25
  padding $spacing--half
  position absolute
  text-align left
  white-space normal
  width $tooltip--width
  z-index 10

.tooltip__content--top
  bottom 100%

.tooltip__content--bottom
  top 100%

.tooltip__content--left
  left 0

.tooltip__content--right
  right 0

.tooltip__content--center
  left 50%
  margin-left ($tooltip--width * -0.5)

.tooltip__heading
  border-bottom 1px solid $color--silver
  display block
  font-family $font--heading
  margin-bottom $spacing--half
  padding-bottom $spacing--quarter
  text-transform uppercase

  &:last-child
    margin-bottom 0

.tooltip__text
  display block
